@import './../utils/mixins.scss';

.work {
  background-color: #FFFFFF;
  border-radius: 30px;
  padding: 72px 20px 72px 20px;

  @include onTablet {
    padding: 128px 41px 128px 41px;
  }

  @include onSmallDesktop {
    padding: 128px 54px 134px 54px;
  }

  @include onDesktop {
    padding-left: 118px;
    padding-right: 118px;
  }

  @include onTheDesign {
    padding-left: 227px;
    padding-right: 227px;
  }

  @include onLargeScreens {
    padding-left: 707px;
    padding-right: 707px;
  }

&--title {
  font-family: Poppins;
  font-weight: 600;
  font-size: 44px;
  line-height: 120%;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
  color: #253757;
  padding-bottom: 56px;
  margin: auto;

  @include onTablet {
      padding-bottom: 64px;
    }
}

&--img {
  height: 166px;
  width: 166px;
  display: block;
  margin: auto;
  //margin-top: 56px;
  margin-bottom: 32px;


}

&--text {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  //line-height: 150%;
  letter-spacing: 0px;
  text-align: center;
  color: #6C788B;

}

&__cards {
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 56px;
    justify-content: space-between;

  @include onTablet {
      padding-left: 139px;
      padding-right: 139px;
      gap: 72px;
    }

    @include onSmallDesktop {
      padding: 0;
      margin: 0;
      flex-direction: row;
      gap: 137px;
    }

    @include onTheDesign {
      gap: 177px;
    }
    }

}


h3 {
  color: #253757;
  font-family: Poppins;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 16px;
}



