
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './blocks/about_us.scss';
@import './blocks/apply.scss';
@import './blocks/contact_us.scss';
@import './blocks/footer.scss';
@import './blocks/header.scss';
@import './blocks/services.scss';
@import './blocks/testimonials.scss';
@import './blocks/top-bar.scss';
@import './blocks/work.scss';
@import './blocks/fonts.scss';



html,
body {
  overflow-x: hidden;
  width: 100%;
}

* {
  box-sizing: border-box;
}

.wrapper {
  display: grid;
  //grid-template: minmax(893px, auto) minmax(402px, auto) minmax(1375px, auto) minmax(1467px, auto) minmax(1548px, auto) minmax(571px, auto) minmax(auto, auto)/1fr;
  //gap: 120px;
  background-color: #F2F6FA;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

p {
  margin: 0;
}

h4 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 3px;
  //text-align: center;
  text-transform: uppercase;
  color: #C0CDD7;
  margin: 0;
}

h6 {
  margin: 0;
}

body {
  margin: 0;
}